[submodule "mineUNO"]
	path = mineUNO
	url = git@github.com:jurky123/mineUNO.git
[submodule "mineAgent"]
	path = mineAgent
	url = git@github.com:jurky123/mineAgent.git
[submodule "mineUI"]
	path = mineUI
	url = git@github.com:jurky123/mineUI.git
[submodule "mineSkin"]
	path = mineSkin
	url = git@github.com:jurky123/mineSkin.git
[submodule "mineChess"]
	path = mineChess
	url = git@github.com:jurky123/mineChess.git
